.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
}

.header {
    grid-area: header;
    border: 1px solid black;
    padding: 10px;
}

.sidebar {
    grid-area: sidebar;
    border: 1px solid black;
    padding: 10px;
}

.content {
    grid-area: content;
    border: 1px solid black;
    padding: 10px;
}

.footer {
    grid-area: footer;
    border: 1px solid black;
    padding: 10px;
}
