.container {
    display: block;
}

.box {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

@supports (display: grid) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

