.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.box {
    border: 1px solid black;
    padding: 10px;
}

.box1 {
    grid-column: span 6;
}

.box2 {
    grid-column: span 3;
}

.box3 {
    grid-column: span 3;
}
